</head>
<body>
  <nav>
    <i class="fas fa-film fa-2x"></i>
    <a
      href="/flights" <%- title === 'A11 Flights' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>
  </nav>