</head>
<body>
  <nav>
    <i class="fas fa-light fa-plane-departure"></i>
    <a
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
    <a 
      href="/flights/new" <%- title === 'Add Flights' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>
  </nav>